---
http_interactions:
- request:
    method: get
    uri: https://api.ipstack.com/104.16.133.229?access_key=<IPSTACK_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Rate-Limit-Reset:
      - '1777555229'
      X-Apilayer-Transaction-Id:
      - 9c9b2900-3a77-4049-a6e8-c066d5febcca
      X-Rate-Limit:
      - '0'
      X-Rate-Limit-Remaining:
      - '0'
      X-Quota-Limit:
      - '5000'
      X-Quota-Remaining:
      - '4988'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.064'
    body:
      encoding: UTF-8
      string: '{"ip": "104.16.133.229", "type": "ipv4", "continent_code": "NA", "continent_name":
        "North America", "country_code": "US", "country_name": "United States", "region_code":
        "CA", "region_name": "California", "city": "San Jose", "zip": "95122", "latitude":
        37.330528259277344, "longitude": -121.83822631835938, "msa": "41940", "dma":
        "807", "radius": "0", "ip_routing_type": "fixed", "connection_type": "tx",
        "location": {"geoname_id": 5392171, "capital": "Washington D.C.", "languages":
        [{"code": "en", "name": "English", "native": "English"}], "country_flag":
        "https://assets.ipstack.com/flags/us.svg", "country_flag_emoji": "\ud83c\uddfa\ud83c\uddf8",
        "country_flag_emoji_unicode": "U+1F1FA U+1F1F8", "calling_code": "1", "is_eu":
        false}, "time_zone": {"id": "America/Los_Angeles", "current_time": "2026-04-30T06:19:58-07:00",
        "gmt_offset": -25200, "code": "PDT", "is_daylight_saving": true}, "currency":
        {"code": "USD", "name": "US Dollar", "plural": "US dollars", "symbol": "$",
        "symbol_native": "$"}, "connection": {"asn": 13335, "isp": "Cloudflare", "sld":
        null, "tld": null, "carrier": "cloudflare", "home": false, "organization_type":
        "Internet Hosting Services", "isic_code": "J6311", "naics_code": "518210"}}'
  recorded_at: Thu, 30 Apr 2026 13:20:28 GMT
recorded_with: VCR 6.4.0
